<div class="row input">
  {{input value=message.content enter=(action 'save')}}
  <div class="hint">Type something, press enter.</div>
</div>
<div class="row info">
  {{ui-block/json message.serialized class='tiny'}}
</div>
