{{#if session.isError}}
  {{ui-block/json session.error class='error'}}
{{/if}}
<div class="form">
  {{input placeholder='name' value=session.name enter=(action 'enter') disabled=session.isSaving}}
  {{input placeholder='password' value=session.password type='password' enter=(action 'enter') disabled=session.isSaving}}
</div>
