@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&subset=latin-ext');
$font-family: 'Raleway', sans-serif;

@import "reset";
@import "body";
@import "form";

.ui-application {
  padding: 25px;
  > .header {
    padding-bottom: 25px;
    > .title {
      font-weight: 600;
    }
    > .links {
      font-size: 13px;
      padding-top: 5px;
      a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        &.active {
          font-weight: 600;
        }
      }
    }
  }
  > .content {

  }
}

.ui-block.json {
  font-family: 'Monaco';
  font-size: 12px;
  line-height: 14px;
  white-space: pre-wrap;
  &.tiny {
    font-size: 10px;
    line-height: 13px;
  }
}

.row {
  padding: 10px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.ui-route.message-index {
  > .row.input {
    margin-bottom: 20px;
    > input {
      padding-left: 0;
      padding-right: 0;
      font-size: 32px;
      border-bottom: 1px solid #eee;
    }
    > .hint {
      margin-top: 3px;
      font-size: 10px;
    }
  }
}
