@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&subset=latin-ext');
$font-family: 'Raleway', sans-serif;

@import "reset";
@import "body";

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-application {
  @import "form";
  a {
    color: #000;
  }
  display: flex;
  flex-direction: row;
  > .content {
    flex: 1;
    padding: 25px;
    > .header {
      padding-bottom: 25px;
      > .title {
        font-weight: 600;
      }
      > .links {
        font-size: 13px;
        padding-top: 5px;
        a {
          display: inline-block;
          text-decoration: none;
          color: #000;
          &.active {
            font-weight: 600;
          }
        }
      }
    }
  }
  > .identity {
    width: 300px;
    > .content {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      border-left: 1px solid #ddd;
      padding: 10px;
      overflow-y: scroll;
    }
  }
}

.ui-block.json {
  font-family: 'Monaco';
  font-size: 12px;
  line-height: 14px;
  white-space: pre-wrap;
  &.tiny {
    font-size: 10px;
    line-height: 13px;
  }
}

.row {
  padding: 10px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  p {
    padding-bottom: 5px;
    &.strong {
      font-weight: 600;
    }
    &.small {
      font-size: 13px;
    }
  }
}

.ui-block.session-sign-in {
  > .error {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

.ui-block.stores-identity {
  > .doc {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 12px;
    line-height: 12px * 1.5;
    > .id {
      flex: 0;
      padding-right: 5px;
      font-weight: 500;
      font-size: 14px;
      white-space: nowrap;
    }
    > .rev {
      flex: 2;
      min-width: 0px;
      @include ellipsis;
      padding-right: 5px;
    }
    > .info {
      font-weight: 500;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      > .item {
        flex: 1;
        display: inline-block;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        &:before {
          content: '[';
        }
        &:after {
          content: ']';
        }
      }
    }
  }
}

.ui-route.setup-index {
  > .row.run {
    > .button {
      cursor: pointer;
      display: inline-block;
      background: #333;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 12px 15px;
      border-radius: 4px;
    }
  }
}
