@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&subset=latin-ext');
$font-family: 'Raleway', sans-serif;

@import "reset";
@import "body";

.ui-application {
  padding: 25px;
  > .header {
    padding-bottom: 25px;
    > .title {
      font-weight: 600;
    }
  }
  > .content {

  }
}
