<div class="row">
  {{doc}}
</div>
<div>
  {{ui-block/json doc.serialized}}
</div>
<div class="row">
  <button {{action 'load'}}>Load</button>
</div>
<div class="row">
  {{ui-block/json doc.state}}
</div>
