{{#each authors.docs as |doc|}}
  <div class="row" {{action 'show' doc}}>
    {{ui-block/json doc.serialized}}
  </div>
{{/each}}
<div class="row">
  {{link-to 'create new author' 'blog.authors.new'}}
</div>
