{{#each authors as |author|}}
  <div class="row">
    {{ui-block/json author.doc.serialized}}
    <div>name: {{author.name}}</div>
    <div>email: {{author.email}}</div>
  </div>
{{/each}}

<div class="row">
  {{link-to 'create new author' 'blog.authors.new'}}
</div>
